body,h2{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.landing{
    background-image: url("./dancebara.jpeg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
}
header a{
    color: rgba(255, 0, 85, 0.918);
}
header{
    display: flex;
}
h1{
    flex: 3;
    font-size: 2.5em;
    padding: 20px;
}
header a:hover{
    color: darkorange;
}

.maintext{
    display: flex;
    flex-direction: column;
    height: 40vh;
    justify-content: center;
    padding: 20px;
}

.tagline1{
    color: red;
    font-size: 2em;
    font-weight: bolder;
}

.tagline2{
    color: yellow;
}

.maintext div{
    margin-top: .75em;
}

.maintext button{
    width: 150px;
    margin-top: 20px;
    border-radius: 10px;
    padding: 15px;
    background-color: lightsalmon;
    color: black;
    border: 1px solid green;
}
.maintext button:hover{
    cursor: pointer;
    background-color: lightcoral;
}
h2{
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    background-color: rgb(41, 37, 37) ;
}
.style{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(190px,1fr));
    background-color: rgb(41, 37, 37);
    color: white;
}
 
.styles th{
    color: yellow;
    font-size: 1.2em;
}

table{
    width: 100%;
    padding: 1em;
}

.style tr{
    display: flex;
    justify-content: center;
    margin-top: .8em;
}

.style td:nth-child(1){
    justify-self: left;
    flex: 1;
}

.style td:nth-child(2){
    justify-self: right;
}

  